.container{
	width: 1000px;
	margin: 0 auto;
	border: 1px solid black;
	padding: 5px;
}

header{
	width: 1000px;
	height: 50px;
	background-color: whitesmoke;
	margin-bottom: 5px;
}

header > a{
	margin-left: 125px;
}

h1{
	text-align: center;
}

.listcontainer{
	display: inline-block;
	vertical-align: text-top;
	border: 2px solid black;
	width: 243px;
	text-align: center;
	padding-bottom: 50px;
}

.taskcon{
	position: relative;
	margin: 0 auto;
	border: 2px solid black;
	width: 220px;
	background-color: whitesmoke;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.Bezig{
	position: relative;
	width: 50px;
	height: 12px;
	background-color: orange;
	border-radius: 15px;
	left: 160px;
	top: 10px;
}

.aKlaar{
	position: relative;
	width: 50px;
	height: 12px;
	background-color: limegreen;
	border-radius: 15px;
	left: 160px;
	top: 10px;
}

.Starten{
	position: relative;
	width: 50px;
	height: 12px;
	background-color: red;
	border-radius: 15px;
	left: 160px;
	top: 10px;
}

.addlist{
	display: block;
	width: 150px;
	color: black;
	text-decoration: none;
	margin: 0 auto;
	text-align: center;
	padding: 5px;
	border-radius: 15px;
	border: 1px solid black;
	margin-top: 10px;
}

.addlist:hover{
	color: black;
	background-color: whitesmoke;
	border: 1px solid black;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	color: red;
}