.container{
	width: 1000px;
	margin: 0 auto;
}

h1{
	text-align: center;
}

.listcontainer{
	display: inline-block;
	border: 2px solid black;
	width: 200px;
	text-align: center;
	padding-bottom: 50px;
}

.taskscontainer{
	border: 2px solid black;
}

.addlist{
	color: black;
	text-decoration: none;
	margin-left: 875px;
}

.addlist:hover{
	color: red;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	color: red;
}